.aboutPageWrapper {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	padding: 20px;
	min-height: 100%;
	box-sizing: border-box; /* Include padding in height calculation */
	overflow-y: auto; /* Add scroll if content exceeds available height */
}
